<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>VMM Bridge Experiment</title>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/static/vendor/html5shiv.min.js"></script>
      <script src="/static/vendor/respond.min.js"></script>
    <![endif]-->

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link href="/static/vendor/css/roboto-material-icons.css" rel="stylesheet">
    <link href="/static/vendor/css/vuetify.min.css"           rel="stylesheet">
    <link href="/static/vendor/css/vfg.css"                   rel="stylesheet">
    
    <link href="/static/main.css"                             rel="stylesheet">

    {% block moreCSS %}{% endblock %}
  </head>

  <body>
    <v-app id="app">
      <v-toolbar color="blue darken-3" dark app clipped-left fixed>
        <v-toolbar-title :style="$vuetify.breakpoint.smAndUp ? 'width: 300px; min-width: 250px' : 'min-width: 72px'" class="ml-0 pl-3">
          <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
          <span>VMM Experiment</span>
        </v-toolbar-title>
        <div style="width:100%">
          <Bridge style="float:right"></Bridge>
        </div>
      </v-toolbar>

      <v-navigation-drawer fixed clipped app v-model="drawer">
        <v-list>
          <template v-for="section in sections">
            <v-list-group v-if="section.group" :prepend-icon="section.icon" no-action value="true">
              <v-list-tile slot="activator">
                <v-list-tile-content>
                  <v-list-tile-title>${ section.text }</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>

              <template v-for="subsection in section.subsections">
                <v-list-tile :to="subsection.path">
                  <v-list-tile-content>
                    <v-list-tile-title>${ subsection.text }</v-list-tile-title>
                  </v-list-tile-content>
                  <v-list-tile-action>
                    <v-icon>${ subsection.icon }</v-icon>
                  </v-list-tile-action>
                </v-list-tile>
              </template>
            </v-list-group>

            <v-list-tile v-if="! section.group" :to="section.path">
              <v-list-tile-action>
                <v-icon>${ section.icon }</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>${ section.text }</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>

          </template>
        </v-list>
      </v-navigation-drawer>

      <v-content>
        <div class="content-wrapper">
          <router-view></router-view>
          <notifications group="notifications" position="bottom right"/>
        </div>
      </v-content>
    </v-app>

    <script src="/static/vendor/vue.js"></script>
    <script src="/static/vendor/vuetify.js"></script>
    <script src="/static/vendor/vuex.js"></script>
    <script src="/static/vendor/vue-router.js"></script>
    <script>
      Vue.use(VueRouter);
    </script>

    <script type="text/javascript">
      window.vue = window.Vue; // quick fix for vue-notification
    </script>
    <script src="/static/vendor/vue-notification.js"></script>
    <script>
      window.vueNotification = window["vue-notification"].default;
      Vue.use(vueNotification);
    </script>

    <script src="/static/vendor/vue-form-generator.min.js"></script>
    <script>
      Vue.use(VueFormGenerator);
    </script>

    <script src="/static/vendor/jquery.min.js"></script>

    <script src="/static/store.js"></script>

    <script src="/static/vendor/paho-mqtt.js"></script>
    <script src="/static/bridge.js"></script>

    <script src="/app/home.js"></script>

    <script src="/static/router.js"></script>
    <script src="/static/main.js"></script>
  </body>
</html>
